.form-body button {
  margin-top: 15px;
}

#div-justification {
  margin-top: 35px;
}

.form-body label {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

#message {
  text-align: center;
  display: None;
  font-size: 25px;
  margin-top: 55px;
  padding: 10px 0px;
  border: 1px solid gray;
}

#submit-button {
  margin-top: 25px;
}

#page-title {
  text-align: center;
}
