<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<HTML lang="en">
  <head>
    {% block head %}
    <Title>Merit Portal</Title>
    <script src="../static/js/jquery-2.0.3.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <link href="../static/css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/layout.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

    <div class="container">
      <div class="content">

        {% block header %}        
        <div class="row header">
          <div class="span12" id="page-title">
            <div class="row">
              <div class="span8">
                <h1>{% block title %}{% endblock title %}</h1>
              </div>
              <div class="span3 btn-group pull-right">
                <a href="/summary" class="btn btn-info">Summary</a>
                <a href="/new_request" class="btn btn-info">New Request</a>
              </div>
            </div>
          </div>
        </div>
        {% endblock header %}

        <div class="row page">
          <div class="span12">
            {% block page %}{% endblock %}
          </div>
        </div>

        {% block footer %}
        <div class="row">
          <div class="span12">

            <div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    {% for pledge in pledges %}
                    <li><a href="#">{{ pledge }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
        {% endblock %}

      </div>
    </div>

  </body>

  {% block javascript %}
  {% endblock %}

</HTML>
