<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<HTML lang="en">
  <head>
    {% block head %}
    <Title>Merit Portal</Title>
    <script src="../static/js/jquery-2.0.3.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <link href="../static/css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/layout.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="/new_request">Merits</a>
          <div class="btn-group pull-right">
            <a class="btn" href="/summary">Summary</a>
            <a class="btn" href="/new_request">New Request</a>
            <a class="btn" href="/review">Review</a> 
          </div>
          
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <h1 id="page-title">{% block title %}{{ page_title }}{% endblock title %}</h1>

        <div class="page">
            {% block page %}{% endblock %}
        </div>

      </div>
    </div>

    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">

          <ul class="nav">
            <li><a href="/summary" class="brand">Pledges</a></li>
            {% for pledge in pledges %}
            <li><a href="{{ "/report/" ~ pledge.name }}">{{ pledge.name | first_name }}</a></li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>

  </body>

  {% block javascript %}
  {% endblock %}

</HTML>
