{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link href="../static/css/pledge.css" rel="stylesheet">
  <link href="../static/css/table.css" rel="stylesheet">
{% endblock %}

{% block title %}
  {{ super() }}
  <small>Total: </small>
{% endblock title %}

{% block page %}

<ul class="nav nav-tabs" data-tabs="tabs">
  <li class="active">
    <a href="#approved" data-toggle="tab">Approved Requests</a>
  </li>
  <li>
    <a href="#pending" data-toggle="tab">Pending Requests</a>
  </li>
  <li>
    <a href="#rejected" data-toggle="tab">Rejected Requests</a>
  </li>
</ul>

<div class="tab-content">

  <div class="tab-pane active" id="approved">
    <table class="table table-striped table-bordered table-condensed" id="approved-table">
      <thead>
        <tr>
          <th class="small-column">Date</th>
          <th class="medium-column">Assigned By</th>
          <th class="small-column">Value</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        {% for r in approved %}
        <tr>
          <td>{{ r.date | convert_date }}</td>
          <td>{{ r.assignee }}</td>
          <td>{{ r.value | round }}</td>
          <td>{{ r.reason }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="pending">
    <table class="table table-striped table-bordered table-condensed" id="pending-table">
      <thead>
        <tr>
          <th class="small-column">Date</th>
          <th class="medium-column">Assigned By</th>
          <th class="medium-column">Suggested Value</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        {% for r in pending %}
        <tr value={{ r.id }}>
          <td>{{ r.date | convert_date }}</td>
          <td>{{ r.assignee }}</td>
          <td>{{ r.suggested_value | round }}</td>
          <td>{{ r.reason }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="rejected">
    <table class="table table-striped table-bordered table-condensed" id="pending-table">
      <thead>
        <tr>
          <th class="small-column">Date</th>
          <th class="medium-column">Assigned By</th>
          <th class="medium-column">Suggested Value</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        {% for r in rejected %}
        <tr value={{ r.id }}>
          <td>{{ r.date | convert_date }}</td>
          <td>{{ r.assignee }}</td>
          <td>{{ r.suggested_value | round }}</td>
          <td>{{ r.reason }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}

