{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link href="../static/css/pledge.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ page_title }}{% endblock title %}

{% block page %}
  <table class="table table-striped table-bordered table-condensed" id="report-table">
    <thead>
      <tr>
        <th class="small-column">Date</th>
        <th class="medium-column">Assigned By</th>
        <th class="small-column">Value</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(10) %}
      <tr>
        <td> {{ i }} </td>
        <td> {{ i }} </td>
        <td> {{ i }} </td>
        <td> {{ i }} </td>
      </tr>
      {% endfor %}
    </tbody>
        
  </table>
{% endblock %}

